.task-collumn {
  width: 395px;
  min-height: 200px; 
  max-height: 80vh;
  background-color: #D9D9D9;
  border-radius: 19px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0; 
  border-top-width: 10px;
  border-top-style: solid;
}

/*  "To Do" */
.task-collumn[data-status="A Fazer"] {
  border-top-color: #E100FE; /* Rosa */
}
/* Cor "Em Progresso" */
.task-collumn[data-status="Em Progresso"] {
  border-top-color: #FF8A00; /* Laranja */
}
/* Cor "Concluídas" */
.task-collumn[data-status="Concluídas"] {
  border-top-color: #00E096; /* Verde */
}

.collumn-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}


.collumn-title-group {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.collumn-header h3 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #02141B;
  margin: 0;
}

.task-count {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #02141B;
  opacity: 0.63;
}

.collumn-buttons {
  display: flex;
  gap: 10px; 
}

.collumn-btn {

  background: none;  
  border: none;     
  padding: 5px;
  margin: 0;
  color: #02141B;
  font-size: 20px;   
  cursor: pointer;
  transition: opacity 0.2s;
}

.collumn-btn:hover {
  opacity: 1;
}

.task-list {
  flex-grow: 1; 
  overflow-y: auto; 
  padding: 0 20px 20px;
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.add-task-btn {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #8B949E; 
  cursor: pointer;
}
.add-task-btn:hover {
  color: #02141B; 
}


.task-collumn[data-status="A Fazer"] .add-task-btn:hover {
  color: #E100FE; 
}

.task-collumn[data-status="Em Progresso"] .add-task-btn:hover {
  color: #FF8A00;
}

.task-collumn[data-status="Concluídas"] .add-task-btn:hover {
  color: #00E096; 
}