/* Em frontend/src/components/TaskCard.css */

.task-card {
  background-color: #FFFFFF;
  border: 1px solid #E0E0E0; /* Borda sutil */
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  padding: 15px;
  text-align: left;
  color: #333;
}


.card-header {
  margin-bottom: 10px;
}

.task-priority {
  margin: 0;
  padding: 4px 12px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.task-priority.alta {
  background-color: #FCEEEE; 
  color: #E53E3E; 
}
.task-priority.média {
  background-color: #FEF3C7; 
  color: #D97706; 
}
.task-priority.baixa {
  background-color: #EBF8FF; 
  color: #3182CE; 
}


.card-body h4 {
  margin: 0;
  margin-bottom: 8px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding-left: 8px;
}
.card-body p {
  margin: 0;
  font-size: 14px;
  color: #8B949E; 
  line-height: 1.4;
  padding-left: 8px;

}


.card-footer {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
}
.footer-left {
  display: flex; 
  align-items: center;
  gap: 15px; 
}
.footer-right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.icon-group {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #8B949E; 
  font-size: 18px;
}

.card-icon-btn {
  background: none;
  border: none;
  padding: 5px;
  margin: 0;
  color: #8B949E; 
  font-size: 14px;
  cursor: pointer;
  transition: color 0.2s;
}

.card-icon-btn:hover {
  color: #02141B; 
}

.card-icon-btn.delete-btn:hover {
  color: #E53E3E; 
}