.task-collumn {
  width: 395px;
  height: 747px;
  background-color: #D9D9D9;
  border-radius: 19px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0; 
}

.collumn-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}


.collumn-title-group {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.collumn-header h3 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #02141B;
  margin: 0;
}

.task-count {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #02141B;
  opacity: 0.63;
}

.collumn-buttons {
  display: flex;
  gap: 10px; 
}

.collumn-btn {

  background: none;  
  border: none;     
  padding: 5px;
  margin: 0;
  color: #02141B;
  font-size: 20px;   
  cursor: pointer;
  transition: opacity 0.2s;
}

.collumn-btn:hover {
  opacity: 1;
}

.task-list {
  flex-grow: 1; 
  overflow-y: auto; 
  padding: 0 20px 20px;
  gap: 15px;
  display: flex;
  flex-direction: column;
}