.task-card {
  background-color: #ffffff;
  color: #333;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.task-card h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.task-card p {
  margin: 0;
  font-size: 14px;
  color: #555;
}