/* Em frontend/src/App.css */
.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  text-align: center;
}

.App-header {
  padding: 20px;
  border-bottom: 2px solid #61dafb;
}

.App-content {
  padding: 20px;
}

.kanban-board {
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  padding: 20px;
  gap: 100px; 
  align-items: flex-start;
}