/* Em frontend/src/App.css */
.App {
  background-color: #02141B; 
  min-height: 100vh;
  color: #c9d1d9; 
}
  

.kanban-board {
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  padding: 20px;
  gap: 100px; 
  align-items: flex-start;
}

.loading-message,
.error-message {
  padding: 50px;
  font-size: 20px;
  text-align: center;
  color: #8B949E;
}

.error-message {
  color: #E53E3E;
}