/* Em frontend/src/App.css */
.App {
  background-color: #02141B; 
  min-height: 100vh;
  color: #c9d1d9; 
}
  

.kanban-board {
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  padding: 20px;
  gap: 100px; 
  align-items: flex-start;
}